<div class="product-page-view">
  <div class="right-section">
  
{{fields.field_best_selling.content}}
{{fields.field_featured.content}}

<div class="product-image">
{{fields.field_products_image.content}}
</div>
  <div class="description">
{{fields.field_description.content}}
</div>
</div>
{{fields.field_product_cateogory.content}}
{{fields.field_price.content}}
</div>

<!-- <div class="product-image">
{{ field_products_image }}
  </div>
    <div class="description">
{{ field_description }}
      </div> -->










